---
layout: layout
---

<p>Thanks for listening! Donations are greatly appreciated.</p>

<form name="contact" action="/thanks" method="POST" data-netlify="true">
  <input type="email" name="email" placeholder="email"></input>
  <textarea name="message" rows="8" placeholder="message"></textarea>
  <button type="submit" class="blue button short">Send</button>
</form>
