---
layout: layout
---

<p>Thanks for listening! Donations are greatly appreciated.</p>

<div class="buttons">
  <a href="https://paypal.me/ksmithbaylor" target="_blank" rel="noopener noreferer" class="green button short">PayPal</a>
  <a href="https://venmo.com/ksmithbaylor" target="_blank" rel="noopener noreferer" class="green button short">Venmo</a>
  <a href="https://cash.app/$ksmithbaylor" target="_blank" rel="noopener noreferer" class="green button short">Cash App</a>
</div>
